extends layout

block content
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  .about-us
    h1.h1-about Our Story - Group 3
    .frame-parent
      .frame-group
        .about-info-container
          p.info-container(style= 'font-size: 35px')
             |In fulfilment of the client’s request to build an intuitive online mall website, the team will utilise our combined knowledge of full stack development gained from our time spent studying this Web Programming course. 

      img.img-story-icon(alt='' src='./public/imgstory@2x.png')
    .group-member-container
      .group-member
        each member, index in [["Dang Minh Triet", "Managing Director"], ["Do Phuong Linh", "Front-end"], ["Le Duc Trung", "Back-end"], ["Pham Trong Nghia", "Front-end"]]
          .member
            button.img-mem(type='button', 'data-toggle'='modal', 'data-target'=`#modal${index}`)
            .info-mem
              .name-p-mem
                span.sinfo-mem(style='font-weight: 600;') #{member[0]}
                span(style='color: #DB4444; font-size: 22px;') #{member[1]}
    // Define Modals for each member
    each member, index in [["Dang Minh Triet", "Managing Director","" ,"23",'Information Technology'], ["Do Phuong Linh", "Front-end", "path_to_do_phuong_linh_image.jpg",'22','Software Design'], ["Le Duc Trung", "Back-end", "path_to_le_duc_trung_image.jpg",'22','Information-Technology'], ["Pham Trong Nghia", "Front-end", "path_to_pham_trong_nghia_image.jpg",'20','Data-Science']]
      .modal.fade(tabindex='-1', role='dialog', id=`modal${index}`, aria-labelledby=`modalTitle${index}`, aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h5.modal-title(id=`modalTitle${index}`,style= 'font-size: 30px;color: #DB4444; ') #{member[0]}
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .row
                .col-md-6
                  img.img-fluid(src=member[2], alt=`Image of #{member[0]}`)
                .col-md-6(style='text-align: left;font-weight: 400; color: black;')
                  p(style= 'font-size: 23px;color: #E6CE98;')  #{member[1]}.
                  p(style= 'font-size: 20px;') Age: #{member[3]}
                  p(style= 'font-size: 20px;') Major: #{member[4]}
                  p(style= 'font-size: 20px;') Course: Web-Programming 
                  p(style= 'font-size: 20px;') Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, assumenda? Accusantium neque placeat labore id eum quasi repellat. Odit, temporibus?                



