extends layout

block content
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  .about-container
    .about-info-container
      .about-left
        h1.h1-about Our Story - 
          span.font Exclusive
      .about-right.box-container
        p.p-about Established in 2024, Exclusive is expected to become a leading online marketplace in Southeast Asia, operating from our headquarters at RMIT University's SGS Campus in Vietnam. 
          |As part of an ambitious Web Programming course project, our team combines diverse expertise and knowledge of full stack development to create an innovative e-commerce platform. 
          |From electronics to lifestyle goods, Exclusive is committed to rapid growth and aims to offer a unique and comprehensive shopping experience.
    //- img.img-story-icon(alt='team photo' src='./public/imgstory@2x.png')
    h1.h1-about.mt-3 Our Members
    .group-member-container
      .group-member
         each member, index in [["Dang Minh Triet", "Managing Director", "url('/images/members/member1.png')"], ["Do Phuong Linh", "Front-end", "url('/images/members/member2.png')"], ["Le Duc Trung", "Back-end", "url('/images/members/member3.png')"], ["Pham Trong Nghia", "Front-end", "url('/images/members/member4.png')"]]
          .member
            button.img-mem(type='button', 'data-toggle'='modal', 'data-target'=`#modal${index}`,style=`background-image: ${member[2]};`)
            .info-mem
              .name-p-mem
                span.sinfo-mem(style='font-weight: 600; font-size: 22px') #{member[0]}
                span(style='color: #DB4444; font-size: 18px;') #{member[1]}
    // Define Modals for each member
    each member, index in [["Dang Minh Triet", "Managing Director","/images/members/member1.png" ,"23",'Information Technology'], ["Do Phuong Linh", "Front-end", "/images/members/member2.png",'21','Software Engineering'], ["Le Duc Trung", "Back-end", "/images/members/member3.png",'22','Information-Technology'], ["Pham Trong Nghia", "Front-end", "/images/members/member4.png",'20','Data-Science']]
      .modal.fade(tabindex='-1', role='dialog', id=`modal${index}`, aria-labelledby=`modalTitle${index}`, aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document', style='max-width: 80%;')
          .modal-content
            .modal-header
              h5.modal-title(id=`modalTitle${index}`,style= 'font-size: 30px;color: #DB4444; ') #{member[0]}
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              .row
                .col-md-6
                  img.img-fluid(src=member[2], alt=`Image of ${member[0]}`)
                .col-md-6(style='text-align: left;font-weight: 400; color: black;')
                  p(style= 'font-size: 23px;color: #D4AE63;')  #{member[1]}.
                  p(style= 'font-size: 20px;') Age: #{member[3]}
                  p(style= 'font-size: 20px;') Major: #{member[4]}
                  p(style= 'font-size: 20px;') Course: Web-Programming 

