extends layout 

block content 
  h1 #{title}

  //- if account.type != "guest" 
  //-   img(src=account.profile_pic)
  //-   h2 Name #{account.full_name}
  //-   h2 Email address #{account.mail}
  //-   h2 Phone number #{account.phone}
  //-   h2 Country #{account.country}
  //-   h2 City #{account.city} 
  //-   h2 Zip code #{account.zip}
  //-   h2 Address #{account.address}
  //-   h2 Account type #{account.type}
  //-   if account.type == "store owner"
  //-     h2 Store(s)
  //-     a 
  //-       #{store.name}
  //-       #{store.logo}

  if operation == "sign in"
    form(action='/signin' method='POST')
      label(for='mail') Email
      input(name='mail')
      label(for='password') Password 
      input(name='password') 
      button(type='submit') Sign in 
    if error 
      p #{error}
    //- a(href="/register") Register 
    //- a(href="/forgot") Forgor password
  else if operation == "sign up"
    form(method='POST' action='/signup' enctype="multipart/form-data")
      label(for='mail') Email address
      input(name="mail")
      label(for='phone') Phone number
      input(name='phone')
      label(for='password') Password
      input(name='password')
      label(for='profile_image') Profile image 
      input(type='file' accept='image/*' name='profile_image')
      label(for='first_name') First name
      input(name='first_name')
      label(for='last_name') Last name
      input(name='last_name')
      label(for='address') Address
      input(name='address')
      label(for='city') City
      label(for="city") 
        input(name="city")
      label(for='zip') Zipcode
        input(name='zip')
      label(for='country') Country 
        select(name="country")
          each country in countries 
            option(value=country.Name) #{country.Name}
      p Account type 
      label(for="account_type") Store owner  
      input(id="store_owner" type="radio" name="account_type" value="store owner" checked)
      label(for="account_type") Shopper 
      input(id="shopper" type="radio" name="account_type" value="shopper")

      //show on store owner
      div(id="store_form")
        label(for="business_name") Business name
        input(name="business_name") 
        label(for="store_name") Store name
        input(name="store_name")
        label(for="store_category") Store category
        select(name="store_category") 
          option(value="Department store") Department store
          option(value="Grocery store") Grocery store
          option(value="Restaurant store") Restaurant store
          option(value="Clothing store") Clothing store
          option(value="Accessory store") Accessory store
          option(value="Pharmacy") Pharmacy
          option(value="Technology store") Technology store
          option(value="Pet store") Pet store
          option(value="Toy store") Toy store
          option(value="Specialty store") Specialty store
          option(value="Thrift store") Thrift store
          option(value="Service provider") Service provider
          option(value="Kiosk") Kiosk
        label(for="store_logo") Logo 
        input(type="file" accept="image/*" name="store_logo")
      
      button(type='submit') Register
  script.
    const store_owner = document.getElementById('store_owner');
    const shopper = document.getElementById('shopper');
    const store_form = document.getElementById('store_form');
    store_owner.addEventListener('change', function(e) {store_form.style = 'display: flex'});
    shopper.addEventListener('change', function(e) {store_form.style = 'display: none'});