extends layout 

block content
  if user
    .account-container 
      .account-left-box
        .profile-box
          img.profile-image(src=user.profile_image alt='Profile Picture')
          h2.text-center.mb-0 #{user.name}
        .account-menu(class=(menu === 'Personal' ? 'active' : ''))
          a(href="/account" class=(menu === 'Personal' ? 'active' : '')) 
            i.fas.fa-user
            span My Account
        if user.account_type == "store owner" 
          .account-menu(class=(menu === 'Business' ? 'active' : ''))
            a(href="/account/business" class=(menu === 'Business' ? 'active' : ''))
              i.fas.fa-user-tie
              span My Business
        ul
          li.account-menu
            a(href="/cart")
              i.fas.fa-shopping-cart
              span My Cart
          li.account-menu
            a(href="/wishlist")
              i.fas.fa-heart
              span My Wishlist
          li.account-menu
            a(href="/order")
              i.fa-solid.fa-receipt
              span My Orders
        .account-signout
          a.link(href='/signout') 
            i.fas.fa-sign-out-alt
            span Sign out
      .account-right-box.shadow-box
        if displayBusiness
          if is_store_owner
            .account-header 
              h2.title Business Details
            .profile-box
              img.profile-image(src=user.profile_image alt='Profile Picture')
              h2.text-center.mb-0 #{user.name}
            .row
              .col
                .account-detail
                  .account-label.business-label
                    i.fas.fa-building
                    h5.form-label Business Name
                  p.form-input #{store.business_name}
                .account-detail
                  .account-label.business-label
                    i.fas.fa-store
                    h5.form-label Store Name
                  p.form-input #{store.store_name}
                .account-detail
                  .account-label.business-label
                    i.fas.fa-image
                    h5.form-label Store Logo
                  img.form-input(src=store.store_logo alt='Store Logo')
              .col
                .account-detail
                  .account-label.business-label
                    i.fas.fa-list
                    h5.form-label Store Category
                  p.form-input #{store.store_category}
                .account-detail
                  .account-label.business-label
                    i.fa-regular.fa-calendar
                    h5.form-label Date Created
                  p.form-input #{store.date_added}
            .account-update  
              a.link(href="/account/business/update")
                button
                  i.fas.fa-edit.mr-2
                  span Edit  
          else 
            div.text-center.my-5
              i.fa.fa-shopping-cart.fa-5x(style="color: #D4AE63")
              h3.mt-3 Oops! Nothing to see here.
              p This account is not registered as a business account.
        else
          .account-header 
            h2.title Personal Details
          .profile-box
            img.profile-image(src=user.profile_image alt='Profile Picture')
            h2.text-center.mb-0 #{user.name}
          .row
            .col
              .account-detail
                .account-label
                  i.fas.fa-user
                  h5.form-label Name
                p.form-input #{user.name}
              .account-detail
                .account-label
                  i.fas.fa-envelope
                  h5.form-label Mail
                p.form-input #{user.mail}
              .account-detail
                .account-label
                  i.fas.fa-phone
                  h5.form-label Phone
                p.form-input #{user.phone}
              .account-detail
                .account-label
                  i.fas.fa-home
                  h5.form-label Address
                p.form-input #{user.address}
            .col
              .account-detail
                .account-label
                  i.fas.fa-city
                  h5.form-label City
                p.form-input #{user.city}
              .account-detail
                .account-label
                  i.fas.fa-map-marker-alt
                  h5.form-label Zip Code
                p.form-input #{user.zip}
              .account-detail
                .account-label
                  i.fas.fa-globe
                  h5.form-label Country
                p.form-input #{user.country}
          .account-update  
            a.link(href="/users/" + user._id + "/update")
                button
                  i.fas.fa-edit.mr-2
                  span Edit

  else
    .sign-container
      if operation == "sign in"
        .sign-header
          div.d-flex.align-items-center
            .cornered-rectangle
            h2.text-danger.mb-0 Sign In
        .sign-card.shadow-box
          h2.mb-2.mt-2 Sign in to 
            span.font Exclusive
          p.mb-5.text-center Log in to your account to continue shopping!
          form(action='/signin', method='POST')
            .form-group
              label.form-label(for='mail') Email or Phone Number:
              input.form-input(type='email', name='mail', id='mail', required=true, placeholder='Enter your email or phone *')
            .form-group
              label.form-label(for='password') Password:
              input.form-input(type='password', name='password', id='password', required=true, placeholder='Enter your password *')
            a.forgot-password(href='/reset-password', style='color: #DB4444;') Forgot Password?
            div.d-flex.justify-content-center
              button(type='submit') Log In
          p.mt-3 Not yet registered? 
            a(href='/signup', style='color: #DB4444;') Sign Up
        if error 
            p #{error}
      else if operation == "sign up"
        .sign-header
          div.d-flex.align-items-center
            .cornered-rectangle
            h2.text-danger.mb-0 Sign Up
        .sign-card.shadow-box
          h2 Welcome to 
            span.font Exclusive
          p.mb-5.text-center Create your account to start shopping!
          form(method='POST', action='/signup', enctype='multipart/form-data', class='needs-validation')
            .form-group
              label.form-label(for='mail') Email address
              input.form-input(name='mail', type='email', placeholder='Enter your email *' required)
              div.invalid-feedback Please provide a valid email.
              
            .form-group
              label.form-label(for='phone') Phone number
              input.form-input(name='phone', type='tel', placeholder='Enter your phone *' required)
              div.invalid-feedback Please provide a valid phone number.

            .form-group
              label.form-label(for='password') Password
              input.form-input(name='password', type='password', placeholder='Enter your password *' required)
              div.invalid-feedback Please enter a password.

            .form-group
              label.form-label(for='profile_image') Profile image
              input.form-input-file(name='profile_image', type='file', accept='image/*' required)

            .form-group
              label.form-label(for='first_name') First name
              input.form-input(name='first_name', placeholder='Enter your first name *' required)

            .form-group
              label.form-label(for='last_name') Last name
              input.form-input(name='last_name', placeholder='Enter your last name *' required)

            .form-group
              label.form-label(for='address') Address
              input.form-input(name='address', placeholder='Enter your address *' required)

            .form-group
              label.form-label(for='city') City
              input.form-input(name='city',placeholder='Enter your city *'  required)

            .form-group
              label.form-label(for='zip') Zipcode
              input.form-input(name='zip', type='number', placeholder='Enter the zipcode of your city *' required)

            .form-group
              label.form-label(for='country') Country
              select.form-input(name='country')
                each country in countries
                  option(value=country.Name)= country.Name

            .form-group
              p.form-label Account type
              .form-group
                input#store_owner.form-input(type='radio', name='account_type', value='store owner')
                label(for='store_owner') Store owner
              .form-group
                input#shopper.form-input(type='radio', name='account_type', value='shopper')
                label(for='shopper') Shopper

            #store_form.d-none
              .form-group
                label.form-label(for='business_name') Business name
                input.form-input(name='business_name' placeholder='What\'s your business name?')

              .form-group
                label.form-label(for='store_name') Store name
                input.form-input(name='store_name' placeholder='What\'s your store name? *' )

              .form-group
                label.form-label(for='store_category') Store category
                select.form-input(name='store_category')
                  option(value='Department store') Department store
                  option(value='Grocery Store') Grocery Store
                  option(value='Clothing Store') Clothing Store
                  option(value='Accessory Store') Accessory Store
                  option(value='Pharmacy') Pharmacy
                  option(value='Electronics Store') Electronics Store
                  option(value='Furniture Store') Furniture Store
                  option(value='Pet Store') Pet Store
                  option(value='Toy Store') Toy Store
                  option(value='Others') Others 
              .form-group
                label.form-label(for='store_logo') Logo
                input.form-input-file(name='store_logo', type='file', accept='image/*')
            div.d-flex.justify-content-center
              button(type='submit') Register
          p.mt-3 Already have an account? 
            a(href='/signin', style='color: #DB4444;') Sign In
      script.
        $(document).ready(function() {
          $('input[name="account_type"]').change(function() {
            if ($('#store_owner').is(':checked')) {
              $('#store_form').removeClass('d-none');
              $('#store_name').attr('required', true);
            } else {
              $('#store_form').addClass('d-none');
              $('#store_name').removeAttr('required');
            }
          });
          });