extends layout 

block content 
  h1 =title
  
  form(action="POST") 
    each product in cart 
      img(src=product.image)
      a(href="/product.url") #{product.name}  
      a(href=product.store.url) #{product.store.name} 
      p Price #{product.price}
      p Quantity #{product.quantity} 
      button(onclick="update cart") +
      button(onclick="update cart") -
      p #{product.total_amount} 
      button(onclick="update cart") Delete 
    p Total amount #{cart.total_amount}
    button(type="clear" onclick="update cart") 
    button(type="submit") Place order  

//Take notice of cart updates