extends layout

block content
  section 
    h2 New Stores 
    ul 
      each store in new_stores 
        li 
          a(href=store.url)
            img(src=store.logo) 
            #{store.name}

  section 
    h2 New Products 
    ul 
    each product in new_products 
      li 
        a(href=product.url)
          img(src=product.image) 
          #{product.name}
        a(href=product.store_url) #{product.store_name}
        p #{product.price}

  section
    h2 Featured Stores 
    ul 
      each store in featured_stores 
        li 
          a(href=store.url)
            img(src=store.logo) 
            #{store.name}

  section
    h2 Featured Products 
    ul 
    each product in featured_products 
      li 
        a(href=product.url)
          img(src=product.image) 
          #{product.name}
        a(href=product.store_url) #{product.store_name}
        p #{product.price}