extends layout 

block content
  .store-home-header
    img(src=store.store_logo alt=store.store_name)
    h1.font= store.store_name
    p By #{store.business_name}
  .index-container 
    // Product Details Section
    .d-flex.align-items-center.mb-3
      .cornered-rectangle
      h2.text-danger.mb-0 Product Details
    .product-container
      if is_wishlisted
        form(action="/wishlist" method="POST")
          input(type="hidden" name="product" value=product._id)
          input(type="hidden" name="type" value="product")
          button(type="submit") filled heart
      else if !is_wishlisted
        form(action="/wishlist" method="POST")
          input(type="hidden" name="product" value=product._id)
          input(type="hidden" name="type" value="product")
          button(type="submit") empty heart
      .product-image
        h3 #{product.name}
        img.my-3(src=product.image alt=product.name)
      .product-details
        h4 Description
        p #{product.description}
        p In stock: #{product.quantity}
        h4.mt-3(style="color: #DB4444") $#{product.price}
        if item
          p.font-weight-bold.text-red 
            | You have 
            a(href="/cart" style="color: #DB4444") #{item.quantity} of this product in your cart. 
            | Add more below:
        form(method="POST")
          label(for="product_quantity") Quantity:
          input(type="hidden", name="product" value=product.id)
          input.form-input(name="product_quantity" type="number" min="1" max=product.quantity required)
          .buy-buttons
            if user
              button(type="submit" formaction="/cart") Add to cart
              button.ml-2(type="submit" formaction="/cart") Buy Now
            else
              button(type="button" onclick='showLoginModal()') Add to cart 
              button.ml-2(type="button" onclick='showLoginModal()') Buy Now
            //Notification for added product
            
            // Modal for Login Prompt
            .modal#loginModal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered(role='document', style='max-width: 500px;')
                .modal-content
                  .modal-header
                    h2.modal-title(style='font-size: 1.5rem;') Login Required
                    button.close(data-dismiss='modal') ×
                  .modal-body.text-center
                    p(style='font-size: 1rem;') You need to log in to continue purchasing products.
                    a(href='/signin') 
                      button(type="button") Log in
            script.
              function showLoginModal() {
                $('#loginModal').modal('show');
              }
            
  .store-home-footer
      img(src=store.store_logo alt=store.store_name)
      h1.font= store.store_name
      p By #{store.business_name}

  