extends layout 

block content
  .store-home-container 
    .store-home-header
      img(src=store.store_logo alt=store.store_name)
      h1.font= store.store_name
      p By #{store.business_name}
    .index-container 
      .browse-header 
        .d-flex.align-items-center.mb-3
          .cornered-rectangle
          h2.text-danger.mb-0 New Arrivals
        form.search-bar(method="get" action="/stores/" + store._id)
          input.form-input(type="text", name="search", placeholder="Search a product in this store")
          button(type="submit")
            i.fa.fa-search
          if is_store_owner 
            a(href='/stores/' + store._id + '/products/create')
              button(type="button").ml-2
                i.fa-solid.fa-plus.color-white
      // New Products Section
      if is_wishlisted
        form(action="/wishlist" method="POST")
          input(type="hidden" name="store" value=store._id)
          input(type="hidden" name="type" value="store")
          button(type="submit") filled heart
      else if !is_wishlisted
        form(action="/wishlist" method="POST")
          input(type="hidden" name="store" value=store._id)
          input(type="hidden" name="type" value="store")
          button(type="submit") empty heart
      h2.text-center.mb-3 New Products
      if all_products
        .row
          each product in new_products
            .col-lg-3.mb-3.col-md-6.col-sm-12
              a.link(href=product.url)
                .card
                  img.card-img-top(src=product.image alt=product.name)
              .card-body
                a.link(href=product.url)
                  h5.card-title= product.name
                h5.card-text(style="color: #DB4444") $#{product.price}
      hr
      .d-flex.align-items-center.mb-3
        .cornered-rectangle
        h2.text-danger.mb-0 Our Products
      // All Products Section
      h2.text-center.mb-3 All Products
      if all_products
        .row
          each product in all_products
            .col-lg-3.mb-3.col-md-6.col-sm-12
              a.link(href=product.url)
                .card
                  img.card-img-top(src=product.image alt=product.name)
              .card-body
                a.link(href=product.url)
                  h5.card-title= product.name
                h5.card-text(style="color: #DB4444") $#{product.price}
      else 
        i.fa-solid.fa-box-open.fa-5x.my-3
        h3.text-center There is no product updated yet.

    .store-home-footer
      img(src=store.store_logo alt=store.store_name)
      h1.font= store.store_name
      p By #{store.business_name}

    
