extends layout 

block content
  .store-details
      img(src=store.store_logo alt=store.store_name)
      h2= store.store_name
      p= store.business_name
      p= store.store_category
  //- section 
  //- h2 New items
  //- ul 
  //-   each product in new_products 
  //-     li 
  //-       a(href=product.url)
  //-         img(src=product.image)
  //-         h3 #{product.name}
  //-       p #{product.price}
  //- section 
  //- h2 All items
  //- ul 
  //-   each product in all_products 
  //-     li 
  //-       a(href=product.url)
  //-         img(src=product.image)
  //-         h3 #{product.name}
  //-       p #{product.price}