extends layout

block content
  form(action="/signup", method="post", enctype="multipart/form-data", id="signUpForm")
    .form-group
      label(for="first_name") First Name
      input#first_name.form-input(type="text", name="first_name", required=true)
    .form-group
      label(for="last_name") Last Name
      input#last_name.form-input(type="text", name="last_name", required=true)
    .form-group
      label(for="mail") Email
      input#mail.form-input(type="email", name="mail", required=true)
    .form-group
      label(for="phone") Phone
      input#phone.form-input(type="text", name="phone", pattern="\\d{10,12}", required=true)
    .form-group
      label(for="password") Password
      input#password.form-input(type="password", name="password", minlength="6", required=true)
    .form-group
      label(for="country") Country
      select#country.form-input(name="country", required=true)
        each country in countries
          option(value=country.name)= country.name
    .form-group
      label(for="city") City
      input#city.form-input(type="text", name="city", required=true)
    .form-group
      label(for="address") Address
      input#address.form-input(type="text", name="address", required=true)
    .form-group
      label(for="zip") Zip Code
      input#zip.form-input(type="text", name="zip", pattern="\\d{5,10}", required=true)
    .form-group
      label(for="profile_image") Profile Image
      input#profile_image.form-input(type="file", name="profile_image", accept="image/*", required=true)
    .form-group
      label(for="account_type") Account Type
      select#account_type.form-input(name="account_type", required=true)
        option(value="store owner") Store Owner
        option(value="shopper") Shopper
    button(type="button" onclick="validateSignUpForm()") Sign Up

script.
  function validateSignUpForm() {
    const form = document.getElementById('signUpForm');
    if (form.checkValidity()) {
      form.submit();
    } else {
      alert('Please fill out all required fields correctly.');
    }
  }
